@import 'variables';

main {
  clear: both;
  padding: 0 @base-margin*2;
  .education {
    display: flex;
    margin: @base-margin 0;
    .edu-year {
      margin-right: @base-margin;
      font-weight: bold;
    }
    .edu-container {
      width: 100%;
      background-color: @gray;
      .edu-title {
        font-weight: bold;
      }
    }
  }
}
