@import 'variables';

.container {
  width: 80%;
  background-color: @white;
  margin: @base-margin*7 auto;
  header {
    text-align: center;
    width: 100%;
    float: left;
    img {
      .image-size();
      border-radius: 50%;
      margin-top: -75px;
    }
    hr {
      margin: @base-margin*2;
    }
  }
  padding-bottom: @base-margin*2;
}
